<section>
  <h1 class="section-heading" id="resource-title"></h1>
  <section>
    <table id="attribute-list">
      <thead>
        <tr>
          <td><h6>Property</h6></td>
          <td><h6>Value</h6></td>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <form id="key-value-pairs">
      <section>
        <section id="key-value-wrapper">
          <select class="key-value-input" name="key"></select>
          <div id="input-wrapper">
            <input class="key-value-input" id="typeahead" name="value" type="text" placeholder="Value...">
          </div>
        </section>
        <button id="add-btn" class="button button-primary">+</button>
      </section>
    </form>
  </section>
</section>
