<section>
  <h1 class="section-heading" id="resource-title"></h1>
  <section>
    <table id="attribute-list">
      <thead>
        <tr>
          <td><h6>Descriptor</h6></td>
          <td><h6>Value</h6></td>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <form id="key-value-pairs">
      <section>
        <select class="key-value-input" name="key"></select>
        <input class="key-value-input" name="value" type="text" placeholder="Value...">
        <button id="add-btn" class="button button-primary">+</button>
      </section>
    </form>
  </section>
</section>
