@font-face {
  font-family: 'Raleway';
  src: url('Raleway-Light.ttf') format('truetype'), url('Raleway-Medium.ttf') format('truetype'), url('Raleway-Bold.ttf') format('truetype');
}

.section-heading {
  text-align: center;
  margin-top: .5em;
}

#results-list {
  width: 28em;
  margin: auto;
}

#results-list > li {
  margin-left: 9%;
}

#entity-search-form {
  width: 307px;
  margin: auto;
  padding: 20px 30px;
  border-radius: 4px;
  border: 1px solid lightgrey;
}

form input, .button {
  margin-bottom: 0;
}

thead > tr > td > h6 {
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: .2rem;
  font-weight: 600;
}

#key-value-wrapper {
  width: 90%;
}

.key-value-input:nth-child(1) {
  margin-right: 11%;
}

#key-value-pairs {
  display: table;
  width: 100%;
  min-width: 675px;
}

#input-wrapper {
  display: inline;
  position: absolute;
  left: 51%;
  width: 40%;
  min-width: 266px;
}

#input-wrapper * {
  width: 100%;
}

#add-btn {
  position: absolute;
  font-size: 74px;
  padding: 0 6px;
  right: 0%;
  bottom: 40px;
}

#spinner-target {
  position: relative;
  left: 50%;
  top: 50%;
}

.object-value {
  width: 50%;
}

.object-value > * {
  display: inline-block;
}

.object-value p {
  margin-bottom: 0;
}

table {
  width: 100%;
}

.button-remove,
.button-view {
  display: none;
  padding: 0 12px;
  font-size: 13px;
  height: 24px;
  line-height: 24px;
  float: right;
  margin-right: 10px;
  position: relative;
}

.object-value:hover {
  background: #f6f6f6;
}

.object-value:hover .button-remove,
.object-value:hover .button-view {
  display: inherit;
}

.button-remove:hover {
  color: red;
  border: 1px solid red;
}

.button-view:hover {
  color: #33c3f0;
  border: 1px solid #33c3f0;
}

input[type="text"].valid {
  border: 1px solid #33bd26;
}

input[type="text"].invalid {
  border: 1px solid red;
}

header > section {
  float: right;
  margin-right: 10px;
  clear: right;
}

header { height: 30px; }

#login-form > *,
#register-form > *,
#change-password-form > * {
  display: block;
  margin: 20px auto;
}

#login-form,
#register-form,
#change-password-form {
  margin-top: 17%;
}

.vex.vex-theme-os .vex-content {
  height: 140%;
  width: 80%;
  min-height: 290px;;
}

.textbox-wrapper,
.textbox-field-wrapper {
  height: 100%;
}

.textbox-wrapper > textarea {
  height: 90%;
}

.vex-dialog-form {
  height: 100%;
}

.vex-dialog-input {
  height: 78%;
}

.view-button {
  max-width: 301px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.vex-content {
  overflow: auto;
}

input[type="date"] {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

#resource-title {
  text-decoration: none;
}
